<div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="wrapper">
          <h2>Delete Category</h2>
          <div role="alert">
            {{ message }}
          </div>
          <hr />
            <form [formGroup]="registerForm" (submit)="onSubmitHandler()"> 
                <div class="form-group">
                    <label>CatId</label>
                    <input type="text"  class="form-control" formControlName="bookId"
                    [class.is-invalid]="catId?.invalid && catId?.touched" numbersonly>
                   <div *ngIf="catId?.errors && catId?.touched">
                        <small class="text-danger" *ngIf="catId?.errors?.['required']">Id is required</small>
                        <small class="text-danger" *ngIf="catId?.errors?.['pattern']">Numbers Only</small>
                    </div>
                </div>

                <input type="submit" value="Delete" class="btn btn-primary btn-block">
            </form>
            <br>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
  